html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

* {
  padding: 0px;
  margin: 0px auto;
}

p {
  color: #757575;
}

a {
  text-decoration: none;
}

.logo-1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;

  letter-spacing: 0.03em;
}
.logo-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
}
.logo-3 {
  color: #fff;
}
.navigation {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.navigation a {
  text-decoration: none;
}
.navigation li {
  display: inline;
}
/* .title1 {
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
} */
/* .activity {
  display: inline-block;
} */
.link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.discript {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}
.mail {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail:hover,
.mail:focus {
  color: #2196f3;
}
.contact {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.container {
  background: #2f303a;
}
.tagline {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
}
.button:hover {
  color: #2196f3;
  background-color: #fff;
}
h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-1 {
  background-color: #fff;
}
.section-2 {
  background: #f5f4fa;
  background-color: #f5f4fa;
}

.section-3 {
  background-color: #fff;
}
.footer {
  background-color: #2f303a;
}
.adres {
  color: #fff;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
}
